.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.counter {
    width: 50px;
    border: 2px solid black;
    text-align: right;
    padding: 5px;
    font-size: 1.2rem;
    font-family: 'Orbitron', sans-serif;
    background-color:#f7f7f7; 
}

.btn {
    height: 50px;
    border-radius: 5px;
    background-color: white; 
    color: #f44336;
    font-weight: bold;
}